*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
:root{
    --color1:rgb(70, 218, 255);
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    background-color: var(--color1);
}

.formulario {
    margin-top: 2.5rem;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    width: 550px;
    height: 280px;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

input{
    width: 320px;
    height: 30px;
    padding: 0.5rem;
    margin-top: 1rem;
    border: 2px solid var(--color1);
    border-radius: 1rem;
    background-color: white;
}

#agregar{
    margin-top: 2.5rem;
    background-color:var(--color1);
    height: 50px;
    color:white;
    font-size: 15px;
    background-color: var(--color1);
}
#agregar1{
    text-align: center;
    color: white;
}

.evento{
    background-color: rgb(255, 255, 255);
    width: 550px;
    height: 80px;
    border-radius: 15px;
    display: flex;
    margin-top: 2.5rem;
}
.dias{
    margin-top: 0.7rem;
    background-color: rgb(255, 255, 255);
    width: 100px;  
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}
.diasFaltantes{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    color: green;
    margin-left: 20px;
    position: relative;
    top: -6px;
    height: auto;
}
.texto{
    text-align: center;
    width: 50px;
    position: relative;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
}
.nombreEvento{
    overflow: hidden;
    width:100px;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin-right: 3rem;
    margin-left: 3rem;
    margin-top: 1.5rem;
}
.fechaEvento{
    position: relative;
    width:100px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin-top: 1.5rem;
}
.eliminar{
    width: 80px;
    position: relative;
    right: -0.8rem;
    background-color: rgb(40, 245, 40);
    border: none;
    height: 50px;
    border-radius: 6px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0.5rem;
}
.eliminar:hover{
    cursor: pointer;
    background-color: red;
    font-family: Arial, Helvetica, sans-serif;
}